<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta property="qc:admins" content="4562636714562571563145" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>便利贴</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_573322_t2qo0dj3vmahh0k9.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_573322_g39ijbr2p7y3z0k9.css">


</head>
<body>
<div id="header">
    <div class="nav clearfix">
    <div class="logo"><i class="iconfont icon-note"></i></div>
        <span class="title">小小便签</span>


        <div class="all">全部</div>

        <% if(isLogin){%>
        <div class="userbox"><img src="<%= user.avatar %>" class="img" alt="">
        <div class="username"> <%= user.username  %></div></div>
        <div class="logout"><a href="/auth/logout">注销</a></div>
        <i title="添加笔记"  class=" add-note iconfont icon-jia"></i>
        <%}else{ %>
        <div class="logoin">Github登录</div>
        <div class="qq-logoin"> QQ登录 </div>
        <% }%>

    </div>

</div>


<div id="content" class="clearfix">


</div>





<script src="/js/index.js"></script>
<!--     <div class="twinkling"></div> -->
</body>
</html>
